//$body-bg: #393E41;

@import "~bootstrap/scss/bootstrap";

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form {
  padding-bottom: 30px;
}

.delete-button {
  float: right;
  position: absolute;
}

.delete-container {
  padding-top: 30px;
}

.card-padding {
  padding-top: 1px;
}

.ratings-card {
  background: #90de93;
  margin: 30px;
}
